/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@500&family=Cormorant+Garamond:wght@500&family=Dancing+Script:wght@500&family=Lato:ital,wght@0,700;1,100&family=Montserrat:wght@500&family=Nunito:wght@500&family=Poppins:wght@300;500&family=Roboto+Mono:wght@500&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
  }

 /* Home  */

 .home {
    height: 100vh;
    width: 100%;
    background-image: url('../img/jamil.jpg');
    background-repeat: no-repeat;
    background-size: 100% 110%;
    background-position: center;
 }

 nav {
  display: flex;
  float: right;
  align-items: center;
  padding-top: 30px;
  padding-left: 8%;
  padding-right: 8%;
 }

.logo {
  color: rgb(233, 233, 233);
  position:absolute;
  margin-top: 30px;
  margin-left: 100px;
  font-family: Bebas Neue;
  float: left;
  align-items: center;
  font-size: 30px;
  letter-spacing: 5px;
  cursor: pointer;

}

.text{
  color: white;
  position: absolute;
  text-align: start;
  margin-top: 20%;
  margin-left: 20%;
}

.text h3{
  font-size: 15px;
  letter-spacing: 2px;
  color: #c8c8c8;
}

.text h2{
  font-size: 45px;
  margin: 10px 0px 10px;
}
.text h1{
  font-size: 15px;
  color: #bbbbbb;
  margin-bottom: 20px
}


.description{
  font-size: 30px;
  align-items: center;
}

.desc2{
  text-align: justify;
}

nav ul li{
  color: white;
  font-family: Cormorant Garamond;
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
}

nav ul li a{
  color: white;
  font-family: Cormorant Garamond;
  text-decoration: none;
  text-transform: capitalize;
}

nav ul li a:hover{
  color: #131313;
  transition: 0.5s;
}

.button {
  background-color: #939297;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 30px;
  transition: transform .4s;
}
.button:hover {
  transform: scale(1.2);
}


.fa {
  padding: 10px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  transition: transform .4s;
}

.fa:hover {
    opacity: 0.7;
    transform: scale(1.2);

}

.fa-facebook {
  background: #a1a1a1;
  color: white;
}

.fa-twitter {
  background: #6c6c6c;
  color: white;
}

.fa-instagram {
  background: #373737;
  color: white;
}

.contact-me{
  width: 100%;
  height: 290px;
  background-color: #151515;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.contact-me p{
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 25px;
}

.contact-me .button-two{
  background-color: gray;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 20px;
  transition: .4s;
}

.contact-me .button-two:hover{
  background-color: transparent;
  border: 2px solid gray;
  cursor: pointer;
}
footer{
  position: relative;
  width: 100%;
  height: 400px;
  background-color: #101010;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer p:nth-child(1){
  font-size: 30px;
  color: white;
  margin-bottom: 20px;
  font-weight: bold;
}

footer p:nth-child(4){
  color: white;
  font-size: 17px;
  width: 500px;
  text-align: center;
  line-height: 26px;
}


/* About */

.about{
  background-color: #151515;
  width: 100%;
  color: rgb(255, 255, 255);
  height: 100vh;
}

.main{
  width: 1130px;
  height: 100vh;
  max-width: 95%;
  margin: 0 auto;
  display: flex;  
  align-items: center;
  justify-content: space-around;
}


span{
  color: #373737;
  animation: color-change 2s ease-in-out infinite;
}

@keyframes color-change {
  0% {color: rgb(125, 125, 125);}
  50% {color: rgb(255, 249, 249);}
  100% {color: rgb(125, 125, 125);}

}

@keyframes float {
  0% {
      box-shadow: 0 5px 15px 0px rgba(42, 42, 42, 0.6);
      transform: translateY(0px);
  }
  50% {
      box-shadow: 0 25px 15px 0px rgba(46, 46, 46, 0.2);
      transform: translateY(-20px);
  }
  100% {
      box-shadow: 0 5px 15px 0px rgba(48, 48, 48, 0.6);
      transform: translateY(0px);
  }
}

.main-avatar {
  position: relative;
  float: left;
  margin-left: 50px;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 5px 15px 0px rgba(176, 176, 176, 0.6);
  transform: translateY(0px);
  animation: float 6s ease-in-out infinite;
  width: 35%;
  height: auto ;
  border-radius: 20%;
}

.main-avatar > img {
  width: 100%;
  height: auto;
}

.main-text{
  width: 550px;
}

.about h2{
  font-size: 75px;
  text-transform: capitalize;
  color: #ffffff;
  margin-bottom: 20px;
  margin-top: 0px;
}

.about h4{
  font-size: 22px;
  color: #d0d0d0;
  text-transform: capitalize;
  letter-spacing: 2px ;
  margin-bottom: 10px;
}

.about p{
  color: #fcfcff;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 15px;
  margin-bottom: 50px;
}

.basic {
  padding: 15px;
  letter-spacing: 3px;
  text-decoration: none;
  color: white  ;
  font-size: 15px;
  width: 40px;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
  margin: 5px 2px;
}

.basic:hover {
  animation: neon 1s infinite;
}

@keyframes neon {
  0% {
    text-shadow: 0 0 5px #000000;
  }
  50% {
    text-shadow: 0 0 20px #000000, 0 0 30px #000000;
  }
  100% {
    text-shadow: 0 0 5px #1d1d1d;
  }
}
.basic.education {
  background-color: #727272;
}

.basic.info {
  background-color: #838383;
}

.basic.hobbies {
  background-color: #c7c7c7;
}


/* Education Section */
.myeduc {
  background-image: linear-gradient(to bottom right, #393939, #000000);
  width: 100%;
  color: rgb(255, 255, 255);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.education-title {
  font-size: 40px;
  margin-bottom: 30px;
  text-align: center;
}

.education-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 900px;
  margin-top: 20px;
}

.education-item {
  flex-basis: 50%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  transition: transform 0.3s ease;
  height: auto;
}

.education-item:hover {
  transform: scale(1.05);
}

.box {
  background-color: #333333;
  padding: 30px;
  border-radius: 5px;
}

.box h3 {
  color: #ffffff;
  margin-bottom: 15px;
  font-size: 24px;
}

.box p {
  color: #cccccc;
  margin-bottom: 0;
  font-size: 18px;
}

.fa-graduation-cap,
.fa-school,
.fa-university {
  margin-right: 10px;
  font-size: 24px;
}



/* Profile Section */
.myprofile{
  background-color: #151515 ;
  width: 100%;
  color: rgb(255, 255, 255);
  height: 100vh;
  margin-bottom: -10px;
}

/* Hobbies Section */
.myhobbies{
  background-color: #000000;
  width: 100%;
  color: rgb(255, 255, 255);
  height: 100vh;
  margin-bottom: -10px;
}
/* Skills */

.skills {
  background-color: #151515;
  text-align: center;
  padding: 150px;
  height: 100vh;
}

.skills h1 {
  font-size: 40px;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-bottom: 30px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  justify-items: center;
  align-items: center;
}

.skill-card {
  position: relative;
  width: 150px;
  height: 150px;
}

.skill-card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ddd;
}

.skill-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  border-radius: 50%;
  background-color: #505050;
  transform-origin: center left;
  transform: rotate(0deg);
  transition: transform 1s ease-in-out;
}

.skill-card:hover::before {
  transform: rotate(180deg);
}

.skill-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: rgb(255, 255, 255);
  z-index: 1;
}

/* Progress Bar */
.progress-bar {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: transparent;
  overflow: hidden;
}

.progress-bar::after {
  content: attr(data-progress);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: #040404;
}
  