/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
  }
  
  body {
    font-family: sans-serif;
    margin: 0;
  }
  
  img {
    padding: 0px;
    width: 200px;
    height: 80px;
    background-color: #141414;
    float: left;
    margin-right: 650px;
    
  }

  header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
    padding: 3% 1%;
    background-color: #141414;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    background-color: #141414;
    padding: 20px;
  }
  
  li {
    margin-left: 50px;
    background-color: #141414;
    padding-right: 20px;
  }
  
  li:last-child {
    border-right: none;
    background-color: #141414;
    padding-right: 50px;

  }

  a {
    color: #ffffff;
    font-family: cinzel;
    text-decoration: none;
    background-color: #141414;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    align-items: center;
  }

  .logo {
    cursor: pointer;
  }

  .nav_links {
    list-style: none;
  }

  .nav_links li {
    display: inline-block;
    padding: 0 20px;
  }

  .nav_links li a {
    transition: all 0.3s ease 0s;
  }

  .nav_links li a:hover {
    color: #454444
  }
 
  
 